body {
    background: blue;
    color: white;
    font-size: 20px;
    line-height: 34px
}
header {
    text-align: center;
    height: 100px;
    border-color: red;
    border-width: 10px;
    border-style: dotted;
    font-size: 50px;
    padding-top: 50px;
}
.container{
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
}
#game-div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 70%;
    border-style: solid;
    border-width: 5px;
    text-align: center;
}
#picture-div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 70%;
    border-style: solid;
    border-width: 5px;
    margin-right: -50px;
}
#game-section {
    float: left;
    width: 300px;
    height:750px;
    padding: 20px;
    margin-bottom: 50px;
}