html,
body {
  height: 100%;
  width: 100%;
}

body {
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#wrapper {
    background-image: url("../images/powbackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: blue;
    height: 15%;
    margin: -70px;
    text-align: center;
    font-size: 50px;
}

#container {
  display: inline-block;
  background-color: blue;
  color: white;
  width: 75%;
  height: 60%;
  padding: 40px;
  text-align: center;
  margin: 125px;
  margin-bottom: -50px;
}

h2 {
  font-size: 50px;
}

div {
  text-align: center;
}

#hero-image {
  width: 300px;
  height: 200px;
  border-radius: 25px;


}

#hero-div {
  width: 100px;


  text-align: center;
  justify-content: center;
  display: inline-block;
}

#game-section {
  float: right;
  width: 300px;
  height: 275px;
  padding: 20px;
  border: 7px solid #f5f5f5;
  box-shadow: inset 0 -3px 0 0 #f5f5f5, 0 3px 0 0 #f5f5f5;
  padding-top: 135px;
  margin-bottom: 20px;
  margin-left: 230px;


}

#stats-section {
  float: left;
  width: 300px;
  height: 275px;
  padding: 20px;
  border: 7px solid #f5f5f5;
  box-shadow: inset 0 -3px 0 0 #f5f5f5, 0 3px 0 0 #f5f5f5;
  padding-bottom: 135px;


}



