body {
    background: blue;
    color: white;
    font-size: 20px;
}
header {
    text-align: center;
    height: 100px;
    border-color: red;
    border-width: 10px;
    border-style: dotted;
    font-size: 50px;
    padding-top: 50px;
}
#game{
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
    
}
.section {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 70%;  
    border-style: solid;
    border-width: 5px;
    text-align: center;
}
.aside {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 50%;
    height: 70%;
    border-style: solid;
    border-width: 5px;
    margin-right: -50px;
}
  .clearfix {
      overflow: auto;
  }